<table class="table">
  <thead>
  <tr>
    <th style="width: 20%;"></th>
    <th  *ngFor="let day of citiesForecastList[0].dailyForecastList | slice:0:4">{{ day.day }}</th>
  </tr>
  </thead>
  <tbody>
  <tr class="ms-table-row" *ngFor="let forecast of citiesForecastList" [routerLink]="['/city-forecast/', forecast.city.name] ">
    <th class="align-middle">{{ forecast.city.name }}</th>
    <td  *ngFor="let day of forecast.dailyForecastList | slice:0:4">
      <img [src]="day.afternoonIconUrl || day.forecastItems[0].iconUrl" width="48" height="48" alt="">
      <span class="align-middle">{{ day.avgTemp | number: '1.0-0'}}°</span>
    </td>
  </tr>
  </tbody>
</table>
